---

import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="portfolio | Editsandgo.">
<blockquote class="portfolio-quote">
  <p>"Cada portada cuenta una historia. 
    Estas son solo algunas ideas de lo que tu libro podría ser."</p>
</blockquote>


<div class="portfolio-grid">
    <!-- Portada 1 -->
  <a href="/portfolio/los-hijos-del-sol-roto" class="book-card">
    <div class="book-image-container">
      <img src="/imagenes/portada1.png" alt="Los hijos del sol roto" />
      <div class="book-overlay">
        <h2>Los hijos del sol roto</h2>
        <p>Naiara Durán</p>
      </div>
    </div>
  </a>
  <!-- Portada 2 -->
   <a href="/portfolio/el-nombre-de-las-bestias" class="book-card">
    <div class="book-image-container">
      <img src="/imagenes/portada2.png" alt="El nombre de las bestias" />
      <div class="book-overlay">
        <h2>El nombre de las bestias</h2>
        <p>Luz Ayestarán</p>
      </div>
    </div>
  </a>
  <!-- Portada 3 -->
  <a href="/portfolio/el-ultimo-ciclo-de-orion" class="book-card">
    <div class="book-image-container">
      <img src="/imagenes/portada3.png" alt="El último ciclo de Orión" />
      <div class="book-overlay">
        <h2>El último ciclo de Orión</h2>
        <p>Raúl Mena</p>
      </div>
    </div>
  </a>
  <!-- Portada 4 -->
   <a href="/portfolio/la-ultima-coartada" class="book-card">
    <div class="book-image-container">
      <img src="/imagenes/portada4.png" alt="La última coartada" />
      <div class="book-overlay">
        <h2>La última coartada</h2>
        <p>Alonso Colina</p>
      </div>
    </div>
  </a>
  <!-- Portada 5 -->
   <a href="/portfolio/la-maquina-de-pensar" class="book-card">
    <div class="book-image-container">
      <img src="/imagenes/portada5.png" alt="La máquina de pensar" />
      <div class="book-overlay">
        <h2>La máquina de pensar</h2>
        <p>Dr. Tomás Viñas</p>
      </div>
    </div>
  </a>







</div>

    
</BaseLayout>